@model NationalPlatform.Controllers.PlanController
@{
    var planImage = ViewData["PlanImage"];
    Console.WriteLine(planImage);
}
<head>
  @* <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.js"></script> *@
  <link rel="stylesheet" href="~/css/main/plan/regist_plan.css">
  @* <script src="~/js/main/sensor/regist_sensor.js"></script>   *@
</head>

<body>
    <div class="title">
        도면 등록
    </div>
    <div class="regist">
        <form asp-controller="Plan" asp-action="UploadImage" method="post" enctype="multipart/form-data">
            <input class="button" type="file" name="file"><br>
            <!---파일선택 컨트롤--->
            <ul>
                <li class="plan_info">도면 이름</li>
                <li><input type="text" class="plan_info_input" name="plan_image_name" style="text-align:right;"></li>
            </ul>

            <ul>
                <li class="plan_info">주소</li>
                <li><input type="text" class="plan_info_input" name="address" style="text-align:right;"></li>
            </ul>

            <ul>
                <li class="plan_info">건물 이름</li>
                <li><input type="text" class="plan_info_input" name="building_name" style="text-align:right;"></li>
            </ul>

            <ul>
                <li class="plan_info">동</li>
                <li><input type="text" class="plan_info_input" name="dong" style="text-align:right;"></li>
            </ul>

            <ul>
                <li class="plan_info">층</li>
                <li><input type="text" class="plan_info_input" name="floor" style="text-align:right;"></li>
            </ul>

            <ul>
                <li class="plan_info">호</li>
                <li><input type="text" class="plan_info_input" name="ho" style="text-align:right;"></li>
            </ul>
            <input class="button" type="submit" value="Upload">
        </form>
        
    </div>
     <div class="image">
            <img src="@planImage" width="500px" style="width:500; height:300px; border: 3px solid black;">
        </div>
</body>


@* <form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="FileUpload.FormFile"></label>
        </dt>
        <dd>
            <input asp-for="FileUpload.FormFile" type="file">
            <span asp-validation-for="FileUpload.FormFile"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
</form> *@