<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .login {
            width: 500px;
            margin: 200px auto auto auto;
        }
        .title{
            margin: 0px 0px 0px 150px;
        }
        .pw1{
            margin: 0px 0px 0px 60px;
        }
        .pw2{
            margin: 0px 0px 0px 60px;
        }
        .button{
            margin: 20px 0px 0px 60px;
        }
    </style>

  <link rel="stylesheet" href="~/css/main/account/password.css">
  <script src="~/js/signalr/dist/browser/signalr.js"></script>
  <script src="~/js/main/account/password.js?after"></script>  
  

</head>
<body>
    <div class = "login">
        <h1 class = "title">비밀번호 재설정</h1>
        <hr>
            <form asp-controller="Account" asp-action="ChangePassword" method="post" enctype="multipart/form-data">
                <p class = "pw1">비밀번호 입력: <input id="pw" type="password" name="password0"/></p>
                <p class = "pw1">새 비밀번호 입력: <input id="pw1" type="password" name="password1"/></p>
                <p class = "pw2">새 비밀번호 재입력: <input id="pw2" type="password" name="password2"/></p>
                <input class="button" type="submit" value="비밀번호 재설정" onclick="checkPassword()">
            </form>
        <hr>
    </div>
</body>
</html>