@{
    ViewData["Title"] = "Main Page";
}

<link rel="stylesheet" href="~/css/main/main.css?after">
<script src="~/js/main/main.js?after"></script>



<!DOCTYPE html>
<body>
    <div class="title">
        재난 안전 관리 플랫폼 v1.0
    </div>
    <form method="post">
        <button class="button_sub" id="logout" asp-controller="Account" asp-action="Logout">로그아웃</button>
    </form>
    <form method="post">
        <button class="button_sub" id="change_password" asp-controller="Account" asp-action="ChangePasswordPage">비밀번호
            변경</button>
    </form>
    <form method="post">
        <button class="button_sub" id="log_info" asp-controller="Account" asp-action="LogInfo">로그 정보</button>
    </form>
    <div class="container">
        <form method="get">
            <button class="button" id="btn-1" asp-controller="Main" asp-action="RegistSensor">센서 등록</button>
        </form>
        <form method="get">
            <button class="button" id="btn-2" asp-controller="Main" asp-action="RegistPlane">도면 등록</button>
        </form>
        @* <form method="post">
            <button class="button" asp-controller="Main" asp-action="RegistAccount">계정 등록</button>
            </form> *@
    </div>
</body>
