<head>
    Test 5 get javascript variable
</head>

@using (Html.BeginForm("TestGetJavascript", "Test", FormMethod.Post, new { @id = "myForm" }))
{
    <table>
        <tr>
            <td>First Name: </td>
            <td><input type="text" id="txtFirstName" /></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" id="txtLastName" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="Submit" onclick="AjaxFormSubmit()" /></td>
        </tr>
    </table>
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function AjaxFormSubmit() {
        //Set the URL.
        var url = $("#myForm").attr("action");

        //Add the Field values to FormData object.
        var formData = new FormData();
        formData.append("firstName", $("#txtFirstName").val());
        formData.append("lastName", $("#txtLastName").val());

        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response) {
                alert("Form submitted!");
            }
            else {
                alert("Invalid Form data!");
            }
        });
    }
</script>